@import "partials/base";

footer {
    background: #fff;

    .separador img {
        width: 100%;
    }

    .footer-middle {
        padding-bottom: 40px;

        .container {
            @include breakpoint($break-medium-big) {
                flex-direction: column;
                padding: 10px;
            }
        }
    }

    h4 {
        font-size: em(14);
        font-weight: bold;
    }

    .endereco {
        p {
            font-size: em(14);
            line-height: 19px;
            margin-top: 20px;

            @include breakpoint($break-medium-big) {
                margin-top: 10px;
            }

            span {
                display: block;
            }
        }
    }

    .navegue-site {
        @include breakpoint($break-medium-big) {
            margin-top: 20px;
        }

        ul {
            margin-top: 18px;

            @include breakpoint($break-medium-big) {
                margin-top: 10px;
            }

            li {
                margin-top: 5px;

                @include breakpoint($break-medium-big) {
                    margin-top: 0px;
                }

                > a {
                    font-size: em(14);
                    color: #000;

                    &:hover {
                        color: $cor-base;
                    }
                }
            }
        }
    }

    .horario-atendimento {
        @include breakpoint($break-medium-big) {
            margin-top: 20px;
        }

        p {
            font-size: em(14);
            margin-top: 20px;

            @include breakpoint($break-medium-big) {
                margin-top: 10px;
            }
        }

        li {
            margin-top: 15px;

            @include breakpoint($break-medium-big) {
                margin-top: 5px;
            }

            a {
                font-size: em(14);
                color: #000;

                img {
                    margin-right: 4px;
                }
            }
        }
    }

    .redes-sociais {
        @include breakpoint($break-medium-big) {
            margin-top: 20px;
        }

        ul {
            margin-top: 20px;
            @include breakpoint($break-medium-big) {
                margin-top: 10px;
            }

            li {
                margin-right: 28px;

                @include breakpoint($break-medium-big) {
                    margin-right: 15px;
                }
            }
        }
    }

    .footer-bottom {
        border-top: 1px solid #c5c5c5;
        border-bottom: 1px solid #c5c5c5;
        padding: 25px 0;

        .container {
            @include breakpoint($break-medium-big) {
                flex-direction: column;
            }
        }

        .logo-rodape {
            width: 101px;
            @include breakpoint($break-medium-big) {
                width: auto;
            }
        }

        .dados-loja {
            font-size: em(12);
            color: #000;

            @include breakpoint($break-medium-big) {
                text-align: center;
                padding: 10px;
            }
        }
    }
}
