@import "partials/base";

$width-menu-mobile: 270px;

header {
    position: fixed;
    top: 0;
    padding: 22px 0;
    background: #fff;
    width: 100%;
    z-index: 1;

    @include breakpoint($break-medium-big) {
        padding: 15px 0;
        border-bottom: 1px solid $cor-bordas;
        @include box-shadow(rgba(0, 0, 0, 0.2) 0 0 50px 1px);
    }

    &.fixed {
        border-bottom: 1px solid $cor-bordas;
        @include box-shadow(rgba(0, 0, 0, 0.2) 0 0 50px 1px);
    }

    .flex.space-between {
        @include breakpoint($break-medium-big) {
            justify-content: center;
        }
    }
}

.logo {
    width: 153px;

    @include breakpoint($break-medium-big) {
        width: auto;
    }

    a {
        display: block;
    }
}

ul#nav-root {
    @include breakpoint($break-medium-big) {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: $width-menu-mobile;
        height: 100%;
        z-index: 99998;
        @include transform(translateX(-100%));
        @include transition(all 0.5s ease);
        background: $cor-base;
    }

    > li {
        padding: 0 25px;

        @include breakpoint($break-medium-big) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 45px;
            border-bottom: 1px solid $cor-base-darken;
            padding: 0;
        }

        &:hover > a {
            color: $cor-base;

            @include breakpoint($break-medium-big) {
                color: #fff;
            }
        }

        &.destaque {
            position: relative;

            &:hover {
                > a {
                    background: $cor-base;
                    color: #fff;

                    .arrow {
                        @include seta(8px, #fff, "top");

                        @include breakpoint($break-medium-big) {
                            display: none;
                        }
                    }
                }

                .hover-login {
                    @include breakpoint(min-width 1240px) {
                        display: block;
                    }
                }
            }

            > a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 22px;
                border: 1px solid $cor-base;
                border-radius: 10px;
                font-weight: bold;

                @include breakpoint($break-medium-big) {
                    justify-content: flex-start;
                    padding: 0 0 0 10px;
                    border: 0;
                }

                .arrow {
                    display: block;
                    @include seta(8px, #000, "bottom");
                    margin-left: 5px;

                    @include breakpoint($break-medium-big) {
                        display: none;
                    }
                }
            }

            .hover-login {
                position: absolute;
                right: 0;
                display: none;
                padding-top: 30px;

                @include breakpoint($break-medium-big) {
                    top: 15px;
                    left: 0;
                }

                .area-login {
                    padding: 30px;
                    background: #fff;
                    border-radius: 10px;
                    @include box-shadow(rgba(0, 0, 0, 0.2) 0 0 50px 1px);

                    @include breakpoint($break-medium-big) {
                        padding: 10px;
                        border-radius: 0;
                        @include box-shadow(none);
                    }
                }

                .titulo-login {
                    font-weight: bold;
                    font-size: em(18);
                    text-align: center;
                    color: $cor-texto;
                    text-align: left;
                }

                p.descricao-login {
                    font-size: em(13);
                    text-align: left;
                }

                .tipo-login {
                    width: 187px;
                    height: 40px;
                    cursor: pointer;
                    font-size: em(14);
                    font-weight: bold;
                    margin-top: 20px;
                    opacity: 0.3;

                    &:hover {
                        opacity: 1;
                    }

                    &.selected {
                        opacity: 1;
                    }

                    &.tipo-afiliado {
                        background: #00cba9;
                        border-radius: 5px 0px 0px 5px;
                    }

                    &.tipo-anunciante {
                        background: #0099ff;
                        border-radius: 0px 5px 5px 0px;
                    }

                    .text {
                        margin-left: 10px;
                    }
                }

                a.btn-login {
                    display: block;
                    width: 110px;
                    height: 35px;
                    border-radius: 5px;
                    border: 1px solid #0099ff;
                    font-size: 14px;
                    font-weight: bold;
                    color: #000;
                    text-align: center;
                    line-height: 32px;
                    margin-top: 20px;

                    &:hover {
                        background: #0099ff;
                        color: #fff;
                    }
                }
            }
        }

        > a {
            font-size: em(14);
            color: #000;
            @include transition(color 0.2s);

            @include breakpoint($break-medium-big) {
                width: 100%;
                height: 45px;
                display: flex;
                align-items: center;
                color: #fff;
                padding-left: 10px;
            }
        }
    }
}

.menu-button {
    display: none;
    position: absolute;
    top: 22px;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 20px;
    background: #fff;
    @include transition(all 0.5s ease);

    @include breakpoint($break-medium-big) {
        display: flex;
    }

    &.active {
        position: fixed;
    }

    .icon-menu,
    .icon-menu:before,
    .icon-menu:after {
        position: absolute;
        width: 25px;
        height: 3px;
        background: $cor-base;
        @include transition(transform 0.5s ease);
    }

    .icon-menu:before {
        content: "";
        top: 7px;
    }

    .icon-menu:after {
        content: "";
        top: -7px;
    }
}

.menu-active {
    .menu-mobile-overlay {
        visibility: visible;
    }

    ul#nav-root {
        @include transform(translateX(0));
        @include box-shadow(0 0 15px 5px rgba(0, 0, 0, 0.75));
    }

    .menu-button {
        @include transform(translateX($width-menu-mobile));
        top: 14px;
        left: 0;
        height: 44px;
        z-index: 99998;

        .icon-menu {
            background: 0 !important;

            &:before {
                transform: rotate(-45deg);
                top: 0;
            }

            &:after {
                transform: rotate(45deg);
                top: 0;
            }
        }
    }
}
