@import "base";
/**
    Owl Carousel
*/

/* clearfix */
.owl-carousel .owl-wrapper:after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
    content: ".";
}
/* display none until init */
.owl-carousel {
    position: relative;
    display: none;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
    position: relative;
    display: none;
    @include transform(translate3d(0, 0, 0));
}

.owl-carousel .owl-wrapper-outer {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
    @include transition(height 500ms ease-in-out);
}

.owl-carousel .owl-item {
    float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor: move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;

    @include transform(translate3d(0, 0, 0));
}

/*
 *  Owl Carousel CSS3 Transitions
 *  v1.3.2
 */

.owl-origin {
    -webkit-perspective: 1200px;
    -webkit-perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 50%;
    -moz-perspective: 1200px;
    -moz-perspective-origin-x: 50%;
    -moz-perspective-origin-y: 50%;
    perspective: 1200px;
}
/* fade */
.owl-fade-out {
    z-index: 10;
    @include animation(fadeOut 0.7s both ease);
}

.owl-fade-in {
    @include animation(fadeIn 0.7s both ease);
}
/* backSlide */
.owl-backSlide-out {
    @include animation(backSlideOut 1s both ease);
}

.owl-backSlide-in {
    @include animation(backSlideIn 1s both ease);
}

/* goDown */
.owl-goDown-out {
    @include animation(scaleToFade 0.7s ease both);
}
.owl-goDown-in {
    @include animation(goDown 0.6s ease both);
}
/* scaleUp */
.owl-fadeUp-in {
    @include animation(scaleUpFrom 0.5s ease both);
}

.owl-fadeUp-out {
    @include animation(scaleUpTo 0.5s ease both);
}
