@import "partials/base";
//@import 'partials/jquery-ui';
@import "partials/owl-carousel";

.container-geral {
    p {
        font-size: em(13);
        line-height: 18px;
        color: #000;
    }
    .topo-pagina {
        position: relative;

        img {
            display: block;
            margin: 0 auto;
        }

        .conteudo-pagina {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            color: #fff;

            @include breakpoint($break-medium-big) {
                display: flex;
                align-items: center;
            }
        }

        .conteudo-topo {
            width: 570px;
            margin: 197px 0 0 169px;

            @include breakpoint($break-medium-big) {
                width: auto;
                margin: 0;
                padding: 0 20px;
            }
        }

        h2 {
            font-size: em(48);
            font-weight: bold;
            font-family: "Noto Serif", serif;
            line-height: 59px;

            @include breakpoint($break-medium-big) {
                font-size: em(25);
                line-height: initial;
                text-align: center;
            }
        }

        p {
            font-size: em(13);
            margin-top: 15px;
            padding-right: 110px;
            line-height: 18px;
            color: #fff;

            @include breakpoint($break-medium-big) {
                padding: 0;
                text-align: center;
            }
        }

        a.quero-ganhar {
            margin-top: 20px;

            @include breakpoint($break-medium-big) {
                margin: 0 auto;
                margin-top: 20px;
            }
        }
    }
}

.beneficios {
    margin-top: 70px;

    @include breakpoint($break-medium-big) {
        margin-top: 20px;
    }

    img {
        margin: 0 auto;
    }
}

.lista-beneficios {
    margin-top: 70px;

    @include breakpoint($break-medium-big) {
        flex-direction: column;
        margin-top: 0;
    }

    .item-beneficios {
        text-align: center;

        @include breakpoint($break-medium-big) {
            margin: 20px auto;
        }
    }

    h3 {
        font-weight: bold;
        font-size: em(24);
        line-height: 33px;
        color: $cor-texto;
        margin-top: 12px;

        @include breakpoint($break-medium-big) {
            font-size: em(18);
        }
    }

    p {
        margin-top: 10px;
        padding: 0 60px;
    }
}

h2.titulo-padrao {
    font-size: em(36);
    line-height: 49px;
    color: $cor-base;
    font-weight: bold;
    text-align: center;

    @include breakpoint($break-medium-big) {
        font-size: em(25);
    }
}

.passos {
    margin-top: 110px;

    @include breakpoint($break-medium-big) {
        margin-top: 50px;
    }

    .item-passo {
        max-width: 710px;
        border-radius: 20px;
        border: 1px solid #a4b0c0;
        padding: 25px 70px;
        margin: 30px auto 15px;

        @include breakpoint($break-medium-big) {
            width: 96%;
            padding: 20px;
            margin: 15px auto;
        }

        .conteudo-passo {
            padding-left: 30px;
        }

        h4 {
            font-size: em(24);
            line-height: 33px;
            color: $cor-texto;
            font-weight: bold;

            @include breakpoint($break-medium-big) {
                font-size: em(18);
            }
        }
        p {
            margin-top: 5px;
        }
    }
}

.divisor {
    margin-top: 24px;

    img {
        width: 100%;
    }
}

.afiliado {
    margin-top: 130px;
    padding: 0 80px;

    @include breakpoint($break-medium-big) {
        margin-top: 30px;
        padding: 0 10px;
    }

    .detalhes-afiliado {
        margin-top: 40px;
    }

    p {
        text-align: center;
        margin-top: 5px;
    }

    .afliado-item {
        justify-content: flex-end;
        width: 420px;
        margin-bottom: 45px;

        @include breakpoint($break-medium-big) {
            flex-direction: row-reverse;
            width: auto;
        }

        &:nth-child(2n) {
            flex-direction: row-reverse;

            .desc-afliado {
                margin: 0 0 0 30px;

                p {
                    text-align: left;
                }
            }
        }

        .divulgacao {
            padding-left: 10px;
        }

        .plataforma {
            padding-right: 30px;
        }

        .desc-afliado {
            margin-right: 30px;

            @include breakpoint($break-medium-big) {
                margin: 0 0 0 30px;
            }

            p {
                text-align: right;

                @include breakpoint($break-medium-big) {
                    text-align: left;
                }
            }
        }
    }
}

.cases-de-sucesso {
    margin-top: 84px;
    text-align: center;

    @include breakpoint($break-medium-big) {
        margin-top: 30px;
        padding: 0 10px;
    }

    p {
        margin-top: 8px;
    }

    .lista-cases {
        margin-top: 50px;
        padding-right: 25px;
    }

    .owl-buttons {
        @include center("vert");
        width: 100%;
        height: 30px;

        .owl-prev,
        .owl-next {
            position: absolute;
        }

        .owl-prev {
            left: -7px;

            @include breakpoint($break-medium-big) {
                left: 0px;
            }

            .arrow {
                @include seta(13px, #a4b0c0, "left");
            }
        }

        .owl-next {
            right: -7px;

            @include breakpoint($break-medium-big) {
                right: 0px;
            }

            .arrow {
                @include seta(13px, #a4b0c0, "right");
            }
        }
    }

    .case-item {
        padding: 0 25px;

        .conteudo-case {
            border-radius: 10px;
            @include box-shadow(0px 4px 15px rgba(0, 51, 39, 0.17));
        }

        figure {
            height: 145px;
            overflow: hidden;

            @include breakpoint($break-medium-big) {
                height: auto;
            }

            img {
                border-radius: 10px 10px 0 0;
            }
        }

        .nome-case {
            height: 45px;
            background: #d0d7df;
            border-radius: 0 0 10px 10px;
            font-style: italic;
            font-weight: 500;
            font-size: em(14);
            line-height: 45px;
            text-align: center;
            color: #000000;
        }

        .lucro-case {
            .porcentagem {
                font-weight: bold;
                font-size: em(36);
                color: #0099ff;
            }

            .descricao-lucro {
                width: 113px;
                margin-left: 12px;
                text-align: left;
                margin-top: 0;
            }
        }
    }

    a.quero-ser-afiliado {
        margin: 0 auto;
        margin-top: 80px;

        @include breakpoint($break-medium-big) {
            margin-top: 40px;
        }
    }
}

.por-que-magafilio {
    @include container(990px);
    margin-top: 130px;

    @include breakpoint($break-medium-big) {
        margin-top: 50px;
        padding: 0 10px;
    }

    .item-escolha {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-bottom: 80px;
        text-align: right;

        @include breakpoint($break-medium-big) {
            flex-direction: column;
            text-align: center;
            margin-bottom: 20px;
        }

        &:first-of-type {
            margin-top: 35px;
        }

        &:nth-child(2n) {
            flex-direction: row;
            text-align: left;

            @include breakpoint($break-medium-big) {
                flex-direction: column;
                text-align: center;
            }

            p {
                padding-left: 0;
                padding-right: 120px;

                @include breakpoint($break-medium-big) {
                    padding: 0;
                }
            }
        }

        h3 {
            font-weight: bold;
            font-size: em(24);
            line-height: 33px;
            color: $cor-texto;
        }

        p {
            margin-top: 15px;
            padding-left: 120px;

            @include breakpoint($break-medium-big) {
                padding: 0;
                margin-bottom: 15px;
            }
        }
    }
}

.duvidas-frequentes {
    p {
        text-align: center;
        margin-top: 5px;
    }

    #accordion {
        margin-top: 50px;
    }

    .ui-accordion {
        .ui-accordion-header {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            align-items: center;
            position: relative;
            padding: 20px 30px;
            border: 0;
            background: #f3f3f3;
            border-bottom: 1px solid #e1e1e1;
            border-radius: 0;
            font-size: em(18);
            color: $cor-texto;
            outline: 0 none;
            font-weight: bold;

            @include breakpoint($break-medium-big) {
                font-size: em(16);
                padding: 20px;
            }

            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 101%;
                background: #f3f3f3;
                border-bottom: 1px solid #e1e1e1;

                @include breakpoint($break-medium-big) {
                    display: none;
                }
            }

            &:before {
                left: 100%;
            }

            &:after {
                right: 100%;
            }

            &.odd {
                background: #fff;

                &:before,
                &:after {
                    background: #fff;
                }
            }

            &[aria-expanded="true"] {
                background: $cor-base;
                color: #fff;
                border-bottom: 0;

                .ui-accordion-header-icon {
                    @include seta(10px, #fff, "top");
                }

                &:before,
                &:after {
                    height: 100%;
                    background: $cor-base;
                    border-bottom: 0;
                }
            }

            .ui-accordion-header-icon {
                @include seta(10px, #474c54, "bottom");
            }

            .text {
                @include breakpoint($break-medium-big) {
                    width: calc(100% - 10px);
                }
            }
        }

        .ui-accordion-content {
            padding: 30px;

            p {
                text-align: left;
                margin-bottom: 20px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
    ul {
        margin-top: 20px;

        li {
            padding-left: 20px;
            margin-bottom: 5px;
            font-size: em(13);

            &:before {
                position: relative;
                bottom: 3px;
                margin-right: 4px;
                font-size: em(6);
                content: "\002B24";
            }
        }
    }
}

.area-contato {
    position: relative;
    background: linear-gradient(180deg, #ffffff 26%, rgba(196, 196, 196, 0) 111.69%);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.09);
    text-align: center;
    padding: 38px 0 90px 0;
    margin: 110px 0 82px 0;
    border-radius: 10px;
    overflow: hidden;

    @include breakpoint($break-medium-big) {
        width: 96%;
        margin: 30px auto;
        padding: 20px;
    }

    .bg-contato {
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    h2 {
        display: inline-block;
    }

    p {
        margin-top: 40px;
        padding: 0 210px;

        @include breakpoint($break-medium-big) {
            padding: 0;
            margin-top: 20px;
        }
    }

    .enviar-email {
        margin: 40px auto 0;
        margin-top: 40px;
    }
}
