@import "partials/base";
//@import 'partials/jquery-ui';
@import "partials/owl-carousel";

.container-geral .topo-pagina {
    position: relative;

    img {
        display: block;
        margin: 0 auto;
    }

    .conteudo-pagina {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        color: #fff;
    }

    .conteudo-topo {
        width: 570px;
        margin: 197px 0 0 169px;
    }

    h2 {
        font-size: em(48);
        font-weight: bold;
        font-family: "Noto Serif", serif;
        line-height: 59px;
    }

    p {
        font-size: em(13);
        margin-top: 15px;
        padding-right: 110px;
        line-height: 18px;
        color: #fff;
    }

    a.quero-ganhar {
        display: block;
        width: 228px;
        height: 55px;
        border-radius: 10px;
        background: #fdaa08;
        font-size: em(14);
        color: #000;
        line-height: 55px;
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
        transition: all 0.3s;

        &:hover {
            background: #ce8800;
        }
    }
}

.container-geral {
    p {
        font-size: em(13);
        line-height: 18px;
        color: #000;
    }
}

.beneficios {
    margin-top: 70px;

    img {
        margin: 0 auto;
    }
}

.lista-beneficios {
    margin-top: 70px;

    .item-beneficios {
        text-align: center;
    }

    h3 {
        font-weight: bold;
        font-size: em(24);
        line-height: 33px;
        color: #474c54;
        margin-top: 12px;
    }

    p {
        margin-top: 10px;
        padding: 0 60px;
    }
}

h2.titulo-padrao {
    font-size: em(36);
    line-height: 49px;
    color: $cor-base;
    font-weight: bold;
    text-align: center;
}

.passos {
    margin-top: 110px;

    .item-passo {
        max-width: 710px;
        border-radius: 20px;
        border: 1px solid #a4b0c0;
        padding: 25px 70px;
        margin: 30px auto 15px;

        .conteudo-passo {
            padding-left: 30px;
        }

        h4 {
            font-size: em(24);
            line-height: 33px;
            color: #474c54;
            font-weight: bold;
        }
        p {
            margin-top: 5px;
        }
    }
}

.divisor {
    margin-top: 24px;

    img {
        width: 100%;
    }
}

.afiliado {
    margin-top: 130px;
    padding: 0 80px;

    .detalhes-afiliado {
        margin-top: 40px;
    }

    p {
        text-align: center;
        margin-top: 5px;
    }

    .afliado-item {
        justify-content: flex-end;
        width: 420px;
        margin-bottom: 45px;

        &:nth-child(2n) {
            flex-direction: row-reverse;

            .desc-afliado {
                margin: 0 0 0 30px;

                p {
                    text-align: left;
                }
            }
        }

        .divulgacao {
            padding-left: 10px;
        }

        .plataforma {
            padding-right: 30px;
        }

        .desc-afliado {
            margin-right: 30px;

            p {
                text-align: right;
            }
        }
    }
}

.cases-de-sucesso {
    margin-top: 84px;
    text-align: center;

    p {
        margin-top: 8px;
    }

    .lista-cases {
        margin-top: 50px;
    }

    .case-item {
        padding: 0 25px;

        .conteudo-case {
            border-radius: 10px;
            @include box-shadow(0px 4px 15px rgba(0, 51, 39, 0.17));
        }

        figure {
            height: 145px;
            overflow: hidden;

            img {
                border-radius: 10px 10px 0 0;
            }
        }

        .nome-case {
            height: 45px;
            background: #d0d7df;
            border-radius: 0 0 10px 10px;
            font-style: italic;
            font-weight: 500;
            font-size: em(14);
            line-height: 45px;
            text-align: center;
            color: #000000;
        }

        .lucro-case {
            .porcentagem {
                font-weight: bold;
                font-size: em(36);
                color: #0099ff;
            }

            .descricao-lucro {
                width: 113px;
                margin-left: 12px;
                text-align: left;
                margin-top: 0;
            }
        }
    }
}
